# Eclipse project files
.settings
.classpath
.project
.metadata
.mymetadata
.springBeans
.gradle

# IntelliJ Idea project files
.idea
*.iml
*.ipr
*.iws

# Netbeans project files
nbproject

# Always ignore these directories/files
target
logs
*.war
*.jar
stdout
overlays
analytic-datamanager/datafactory/src/
analytic-datamanager/dataparser/src/
analytic-ignite/transfer/src/
analytic-ignite/transformation/src/main/
analytic-ignite/transformation/src/test/resources/
src/
